# Environnements virtuels
.venv/
venv/
env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Sphinx
docs/_build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log

# data
test.db
*.db